*,
::after,
::before {
  box-sizing: border-box;
}

@font-face {
  font-family: nohemi-regular;
  src: url(./fonts/nohemi-regular.ttf) format(truetype);
  src: url(./fonts/nohemi-regular.woff) format(woff);
}
@font-face {
  font-family: nohemi-thin;
  src: url(./fonts/nohemi-thin.ttf) format(truetype);
  src: url(./fonts/nohemi-thin.woff) format(woff);
}

/* General DOM Dimensions */
body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 5rem;
}
