*,
::after,
::before {
  box-sizing: border-box;
}

@font-face {
  font-family: 'blackout';
  src: url(./fonts/blackout_two_am-webfont.woff) format(woff);
  src: url(./fonts/blackout_two_am-webfont.woff2) format(woff2);
  src: url(./fonts/blackout_two_am-webfont.ttf) format(truetype);
}

.main-c {
  width: 700px;
  margin: 0 auto;
  display: flex;
}

.thumbnail-box {
  width: 250px;
  height: 250px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.thumbnail {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

h1 {
  font-size: 3rem;
  text-align: center;
  font-family: 'blackout';
}

h2 {
  font-size: 1.2rem;
  text-align: center;
  font-family: 'blackout';
}

a {
  text-decoration: none;
  color: black;
}
